<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title th:text="#{title.application}">Hue App 2</title>
	<th:block th:replace="fragments/css :: css" />
</head>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">
			You are using an <strong>outdated</strong> browser. 
			Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
	<header th:replace="fragments/header :: header"></header>
	<div class="container-fluid">
     	<div class="row">
     		<div class="col">
				<h1 id="top" th:text="#{title.authorize}">Authorize App</h1>
				<p>Unable to access the Hue Bridge</p>
				<p>Press link button on the Hue Bridge
					<img src="/images/hue-link-button.png" alt="Link Button" /> 
					and then <a class="btn btn-default" href="#" th:href="@{/createUser}">click here to create a new user</a></p>
				<p th:if="${errorMessage}" th:text="${errorMessage}" />
				<p th:if="${errorMessage}">Hue Bridge returned: <span class="text-errormsg" th:if="${errorDetail}" th:text="${errorDetail}" /></p>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer">&copy; 2017 Electromagnetic Software, LLC</footer>
	<th:block th:replace="fragments/js :: js"></th:block>
</body>
</html>