
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
 
    <title>Hue App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/ems.css" th:href="@{/css/ems.css}" />
</head>
<body>
	<h2>Welcome to the Hansen Hue App</h2>
	<p>Today is: <span th:text="${#dates.createNow()}">13 February 2016</span>.</p>

	<p>Not authorized to access HUE Bridge</p>
	
	<p>Press button on hue bridge and then click <a href="#" th:href="@{/createUser}">here</a> to create a new user	</p>
</body>
</html>