<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title th:text="#{title.application}">Hue App</title>
	<meta http-equiv="refresh" content="60"/>
	<th:block th:replace="fragments/css :: css" />
</head>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">
			You are using an <strong>outdated</strong> browser. 
			Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<header th:replace="fragments/header :: header"></header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm">
		 		<h1 id="top" th:text="#{title.list}">Hue Light Status</h1>
				<p>Status as reported by the Hue Bridge.</p>
			</div>
		</div>
		<p th:if="${errorDetail}" th:text="${errorDetail}" class="text-error"/>
		<div class="row">
			<div class="col">
				<form id="editLightsForm" action="#" th:action="@{/manageLights}" th:object="${lightsForm}" method="post" class="form-horizontal">
					<table class="mainTable">
						<thead>
							<tr>
								<th th:utext="#{lightlist.select}">Select</th>
								<th th:text="#{lightlist.on}">Pwr</th>
								<th th:text="#{lightlist.name}">Light</th>
								<th th:text="#{lightlist.id}">Id</th>
								<th th:text="#{lightlist.reachable}">Reachable</th>
								<th th:text="#{lightlist.effect}">Effect</th>
								<th th:text="#{lightlist.hue}">Hue</th>
								<th th:text="#{lightlist.sat}">Sat</th>
								<th th:text="#{lightlist.bri}">Lvl</th>
								<th th:text="#{lightlist.sample}">Color</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="formLight,iter : *{Lights}">
								<td class="text-center">
									<input th:id="${iter.index}" th:type="checkbox" th:field="*{lights[__${iter.index}__].selected}"/>
									<input th:type="hidden" th:field="*{lights[__${iter.index}__].id}"/>
								</td>
								<td class="text-center" th:utext="*{lights[__${iter.index}__].light.state.on} ? #{on.true} : #{on.false}">on <img src="../static/images/icon-lightbulb-on-12.gif" alt="On"/></td>
								<td class="text-left" th:text="*{lights[__${iter.index}__].light.name}">name</td>
								<td class="text-right" th:text="*{lights[__${iter.index}__].id}">1</td>
								<td class="text-left" th:utext="*{lights[__${iter.index}__].light.state.reachable} ? #{reachable.true} : #{reachable.false}">false <img src="../static/images/icon-exclamation-12.gif" alt="Unreachable"/></td>
								<td class="text-left" th:utext="*{lights[__${iter.index}__].light.state.effect=='colorloop'} ? #{effect.loop} : #{effect.none}">Loop <img src="../static/images/icon-color-wheel-12.gif" alt="Color loop"/></td>
								<td class="text-right" th:text="*{lights[__${iter.index}__].light.state.hue}">unk</td>
								<td class="text-right" th:text="*{lights[__${iter.index}__].light.state.sat}">unk</td>
								<td class="text-right" th:text="*{lights[__${iter.index}__].light.state.bri}">unk</td>
								<td class="text-center"><div class="colortile" th:style="'background-color: ' + *{lights[__${iter.index}__].light.state.hSLcode} + ';'"></div></td>
							</tr>
						</tbody>
					</table>
					<input class="btn btn-default" type="submit" name="xmas" value="xmas" th:value="#{button.xmas}"/>
					<input class="btn btn-default" type="submit" name="on" value="on" th:value="#{button.on}"/>
					<input class="btn btn-default" type="submit" name="off" value="off" th:value="#{button.off}"/>
					<input class="btn btn-default" type="submit" name="loop" value="loop" th:value="#{button.loop}"/>
				</form>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-sm-2"><span th:text="#{bridge.bridgeIp}">IP Address</span></div>
			<div class="col-sm-4"><span th:text="${bridge.bridgeIp}">192.168.2.111</span></div>
		</div>
		<div class="row">
			<div class="col-sm-2"><span th:text="#{bridge.username}">IP Address</span></div>
			<div class="col-sm-4"><span th:text="${bridge.username}">3f451a9f534fab0714d7b6bc27208ba3</span></div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer">&copy; 2017 Electromagnetic Software, LLC</footer>
	<th:block th:replace="fragments/js :: js"></th:block>
</body>
</html>
