<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title th:text="#{title.application}">Hue App</title>
	<th:block th:replace="fragments/css :: css" />
</head>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">
			You are using an <strong>outdated</strong> browser. 
			Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<header th:replace="fragments/header :: header"></header>
	<div class="container">
      <div class="user-info">
        <form action="#" th:action="@{/index}" th:object="${bridge}" method="post">
          <table class="user-info">
            <tr>
              <td colspan="2" class="date" th:text="${#dates.createNow()}">Sat Dec 05, 2016 10:21 pm</td>
            </tr>
            <tr>
              <td><label th:for="${#ids.next('bridgeIp')}" th:text="#{bridge.bridgeIp}">IP Address</label></td>
              <td><input type="text" name="bridgeIp" th:field="*{bridgeIp}" value="192.168.2.111" size="15" /></td>
            </tr>
            <tr>
              <td><label th:for="${#ids.next('username')}" th:text="#{bridge.username}">User Name</label></td>
              <td><input type="text" th:field="*{username}" value="3f451a9f534fab0714d7b6bc27208ba3" size="33" /></td>
            </tr>
          </table>
        </form>
      </div><!-- end .user-info -->
		<div class="island">
			<div class="content">
				<article>
				<!-- main body content begins here -->

					<h1 id="top" th:text="#{title.list}">Hue Light Status</h1>
					<p>Status as reported by the Hue Bridge.</p>

					<table class="mainTable">
						<thead>
							<tr>
								<th th:text="#{lightlist.name}">Light</th>
								<th th:text="#{lightlist.on}">Pwr</th>
								<th th:text="#{lightlist.reachable}">Reachable</th>
								<th th:text="#{lightlist.effect}">Effect</th>
								<th th:text="#{lightlist.type}">Type</th>
								<th th:text="#{lightlist.bri}">Level</th>
								<th th:text="#{lightlist.hue}">Hue</th>
								<th th:text="#{lightlist.sat}">Sat</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="light : ${allLights}">
								<td th:text="${light.name}">name</td>
								<td th:utext="${light.state.on} ? #{on.true} : #{on.false}">on <img src="../static/images/icon-lightbulb-12.gif" alt="On"/></td>
								<td th:utext="${light.state.reachable} ? #{reachable.true} : #{reachable.false}">false <img src="../static/images/icon-exclamation-12.gif" alt="Unreachable"/></td>
								<td th:utext="${light.state.effect=='colorloop'} ? #{effect.loop} : #{effect.none}">Loop <img src="../static/images/icon-color-wheel-12.gif" alt="Color loop"/></td>
								<td th:text="${light.type}">type</td>
								<td th:text="${light.state.bri}">unk</td>
								<td th:text="${light.state.hue}">unk</td>
								<td th:text="${light.state.sat}">unk</td>
							</tr>
						</tbody>
					</table>
				</article>
			</div><!-- end .content -->
		</div><!-- end .island -->
	</div><!-- end .container -->
	<footer th:replace="fragments/footer :: footer">&copy; 2017 Electromagnetic Software, LLC</footer>
	<th:block th:replace="fragments/js :: js"></th:block>
</body>
</html>
