
/* -------------------------------------------- */
/*   HueApp StyleSheet                          */
/*                                              */
/*   Copyright 2016. Electromagnetic Software   */
/* -------------------------------------------- */

/* color key:
	white   #ffffff
	orange 	#f26a21
	off wht #ebebeb
	lt gray #2a2929
	dk gray #191919
*/
header {
	padding-top: 4px;
	border-bottom: 4px solid #f26a21; 
	background-color: #292929;
}
footer {
	padding-top: 1rem;
	font-size: small;
	background-color: #ebebeb;
}}
.mainTable td {
	background-color: #feefe7;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
}
.mainTable .text-right {
	padding-right: 6px;
}

.mainTable th {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-align: center;
	background-color: #f26a21;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
}
.btn {
	border: 1px solid #888;
}
.colortile {
	width: 2em;
	height: 1em;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #aaa;
}
